{% extends "index_author.html.jinja" %}
{% block content%}
        <div class="row align-items-center">
    <div class="col">
      
    </div>
    <div class="col">
        <p>My name: {{name}}</p>
        <p>Field: {{field}}</p>
        <p>Group number: {{group}}</p>
    </div>
    <div class="col">
      
    </div>
  </div>
{% endblock content%}